:root {
  --dark: #05386B;
  --fresh-green-dark: #379683;
  --fresh-green-medium: #5CDB95;
  --fresh-green-light: #8EE4AF;
  --creme-light: #EDF5E1;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--fresh-green-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--fresh-green-medium);
}

.question-input {
  background-color: var(--creme-light);
  border: 2px solid var(--fresh-green-dark);
  color: var(--fresh-green-dark);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80%;
  height: 200px;
} .question-input:hover {
  background-color: var(--fresh-green-light);
  color: var(--fresh-green-dark);
}

.submit-button {
  background-color: var(--fresh-green-medium);
  border: 2px solid var(--fresh-green-dark);
  color: var(--creme-light);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
} .submit-button:hover {
  background-color: var(--fresh-green-light);
  color: var(--fresh-green-dark);
}

